@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == 77em {
    @media (max-width: 77em) {
      @content;
    }
  }
  @if $breakpoint == 69em {
    @media (max-width: 69em) {
      @content;
    }
  }
  @if $breakpoint == 64em {
    @media (max-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == 59em {
    @media (max-width: 59em) {
      @content;
    }
  }
  @if $breakpoint == 52em {
    @media (max-width: 52em) {
      @content;
    }
  }
  @if $breakpoint == 48em {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == 42em {
    @media (max-width: 42em) {
      @content;
    }
  }
  @if $breakpoint == 38em {
    @media (max-width: 38em) {
      @content;
    }
  }
  @if $breakpoint == 32em {
    @media (max-width: 32em) {
      @content;
    }
  }
  @if $breakpoint == 29em {
    @media (max-width: 29em) {
      @content;
    }
  }
}
