// // COLORS
// $color-primary: #1b595a;
// $color-primary-light: #3c8e9d;
// $color-primary-dark: #095b6a;

// $color-primary-gradient-light: #e7f1f3;
// $color-primary-gradient-dark: #cee3e7;

// $color-secondary: #9ad0c2;

// $color-grey-dark: #344955;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fbfcf8;
// $color-white-darker: #f8f6f0;
// $color-black: #000;
// // FONT SIZE
// $default-font-size: 1.6rem;

// // #0369a1 // // #1a759f // #1e6091 // #56cfe1

// // COLORS
// $color-primary: #0077b6;
// $color-primary-light: #99c9e2;
// $color-primary-dark: #003049;

// $color-primary-gradient-light: #cce4f0;
// $color-primary-gradient-dark: #99c9e2;

// $color-secondary: #90e0ef;

// $color-grey-dark: #2f2f2f;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fbfcf8;
// $color-white-darker: #f8f6f0;
// $color-black: #000;
// // FONT SIZE
// $default-font-size: 1.6rem;

// // #0369a1 // // #1a759f // #1e6091 // #56cfe1
// #9ec8b9 // #b8e7e1 // #92b7a6 // #fad3d8

// COLORS
$color-primary: #1b595a;
$color-primary-light: #497a7b;
$color-primary-dark: #164748;

$color-primary-gradient-light: #e8eeef;
$color-primary-gradient-dark: #d1dede;

$color-secondary: #b8e7e1;

$color-grey-dark: #344955;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fbfcf8;
$color-white-darker: #f8f6f0;
$color-black: #000;
// FONT SIZE
$default-font-size: 1.6rem;

///////////////
