// COLORS
$color-primary: #1b595a;
$color-primary-light: #497a7b;
$color-primary-dark: #164748;

$color-primary-gradient-light: #e8eeef;
$color-primary-gradient-dark: #d1dede;

$color-secondary: #b8e7e1;

$color-grey-dark: #344955;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fbfcf8;
$color-white-darker: #f8f6f0;
$color-black: #000;

// FONT SIZE
$default-font-size: 1.6rem;
