// COLORS
$color-primary: #87a922;
$color-primary-light: #9fba4e;
$color-primary-dark: #5f7618;

$color-primary-gradient-light: #cce4f0;
$color-primary-gradient-dark: #99c9e2;

$color-secondary: #90e0ef;

$color-grey-dark: #2f2f2f;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fbfcf8;
$color-white-darker: #f8f6f0;
$color-black: #000;
// FONT SIZE
$default-font-size: 1.6rem;

// #0369a1 // // #1a759f // #1e6091 // #56cfe1

// // COLORS
// $color-primary: #0077b6;
// $color-primary-light: #99c9e2;
// $color-primary-dark: #003049;

// $color-primary-gradient-light: #cce4f0;
// $color-primary-gradient-dark: #99c9e2;

// $color-secondary: #90e0ef;

// $color-grey-dark: #2f2f2f;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fbfcf8;
// $color-white-darker: #f8f6f0;
// $color-black: #000;
// // FONT SIZE
// $default-font-size: 1.6rem;

// // #0369a1 // // #1a759f // #1e6091 // #56cfe1
