*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #2f2f2f;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #2f2f2f;
}

.heading-primary {
  color: #003049;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}

.heading-secondary {
  color: #003049;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: -0.5px;
  border-bottom: solid 2px #99c9e2;
  margin-bottom: 4rem;
}

.heading-tertiary {
  color: #003049;
  font-size: 2.2rem;
  font-weight: 700;
}

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 13px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}
.btn--blue {
  background-color: #0077b6;
  color: #fbfcf8;
}
.btn--blue:hover {
  transform: scale(1.05);
  background-color: #003049;
}
.btn--white {
  background-color: #fbfcf8;
  color: #0077b6 !important;
}
.btn--white:hover {
  transform: scale(1.05);
  background-color: #f8f6f0;
}

.about__image-box {
  padding: 0 4rem;
}
.about__image-box__img {
  display: inline-block;
  width: 100%;
  border-radius: 9px;
}

.about__text-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about__text-box__segment {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 3rem;
  background-color: rgba(144, 224, 239, 0.2);
  border-radius: 9px;
}
.about__text-box__segment ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.header {
  height: 10vh;
  background-color: #0077b6;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.header__logo-box {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header__logo-box__logo {
  width: 75%;
}
.header__main-nav {
  align-self: center;
}
.header__main-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  margin: 0 6rem 0 0;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.header__main-nav-link:link, .header__main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fbfcf8;
}

.hero__text-box {
  position: absolute;
  bottom: 20rem;
  left: 4rem;
  width: 40%;
  padding: 4rem;
  border-radius: 11px;
  background-color: rgba(153, 201, 226, 0.8);
}
.hero__text-box__text {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

.treatment__img-box {
  position: relative;
  width: 100%;
  aspect-ratio: 8/5;
  transition: all 0.3;
}
.treatment__img-box img {
  display: block;
  width: 100%;
  aspect-ratio: 8/5;
  border-radius: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.treatment__text-box {
  padding: 1.2rem 2rem;
  background-color: #90e0ef;
  border-radius: 11px;
  width: 75%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -5%;
  transform: translate(-50%, -5%);
}

.section-hero {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(110deg, rgba(204, 228, 240, 0.8) 0%, rgba(204, 228, 240, 0.7) 50%, rgba(153, 201, 226, 0.4) 100%), url(../../img/22.jpg);
  background-size: cover;
  background-position: center;
}

.section-about {
  padding: 6rem;
  background-color: #fbfcf8;
}
.section-about__main {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.section-treatments {
  padding: 6rem;
  background-color: rgba(153, 201, 226, 0.3);
}
.section-treatments__main {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}/*# sourceMappingURL=main.css.map */