@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  80% {
    transform: translate(-40%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-25, -50%);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 69em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 52em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  color: #344955;
  position: relative;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #344955;
}

.heading-primary {
  color: #164748;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}
@media (max-width: 69em) {
  .heading-primary {
    font-size: 3.2rem;
  }
}

.heading-secondary {
  color: #164748;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  border-bottom: solid 2px #497a7b;
  margin-bottom: 4rem;
}

.heading-tertiary {
  color: #164748;
  font-size: 1.8rem;
  font-weight: 700;
}

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.heading-footer {
  font-size: 1.8rem;
  font-weight: 600;
}

.margin-top-sm {
  margin-top: 2rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

.margin-right-sm {
  margin-right: 2rem;
}

.margin-left-sm {
  margin-left: 3rem;
}

.margin-right-md {
  margin-right: 4rem;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 13px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}
.btn--blue {
  background-color: #1b595a;
  color: #fbfcf8;
}
.btn--blue:hover {
  transform: scale(1.05);
  background-color: #164748;
}
.btn--white {
  background-color: #fbfcf8;
  color: #1b595a !important;
}
.btn--white:hover {
  transform: scale(1.05);
  background-color: #f8f6f0;
}

.btn--text:link, .btn--text:visited {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1b595a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1b595a;
  padding: 3px;
  transition: all 0.2s;
}
.btn--text:hover {
  background-color: #1b595a;
  color: #fbfcf8;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn--text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.cta-text-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 42em) {
  .cta-text-box {
    width: 75%;
  }
}
.cta-text-box__text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #164748;
  text-align: center;
}
@media (max-width: 64em) {
  .cta-text-box__text {
    font-size: 2rem;
  }
}
.cta-text-box__link {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 11px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.cta-text-box__link:link, .cta-text-box__link:visited {
  background-color: #1b595a;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fbfcf8;
}
.cta-text-box__link:hover, .cta-text-box__link:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  background-color: #164748;
}
.cta-text-box__link__icon {
  font-size: 3rem;
}

.wrapper {
  background-image: linear-gradient(to bottom, rgba(232, 238, 239, 0.4), rgba(209, 222, 222, 0.4));
  display: flex;
  width: 80%;
  height: 70%;
  border-radius: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 59em) {
  .wrapper {
    height: 60%;
  }
}
.wrapper button {
  font-size: 3rem;
  height: 4.4rem;
  width: 4.4rem;
  background-color: #fbfcf8;
  color: #164748;
  border: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
.wrapper button#next {
  right: -2.2rem;
}
.wrapper button#prev {
  left: -2.2rem;
}

.testimonial-container {
  position: relative;
  width: 85%;
  height: 100%;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-container p {
  color: #344955;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2rem;
}
@media (max-width: 64em) {
  .testimonial-container p {
    font-size: 1.6rem;
  }
}
.testimonial-container img {
  display: block;
  margin: 1rem auto 1rem auto;
  border-radius: 50%;
  width: 5rem;
}
.testimonial-container h3 {
  color: #164748;
  font-size: 1.4rem;
  text-align: center;
}

.about__image-box {
  padding: 0 2rem;
}
.about__image-box__img {
  display: inline-block;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 48em) {
  .about__image-box__img {
    text-align: center;
    width: 50%;
    height: auto;
  }
}
@media (max-width: 42em) {
  .about__image-box__img {
    width: 75%;
  }
}
@media (max-width: 48em) {
  .about__image-box {
    text-align: center;
  }
}

.about__text-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about__text-box__segment {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(184, 231, 225, 0.2);
  border-radius: 9px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}
.about__text-box__segment ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 38em) {
  .about__text-box__segment ul {
    padding-left: 3rem;
  }
}
@media (max-width: 38em) {
  .about__text-box__segment {
    display: flex;
    flex-direction: column;
  }
}

.contact-information {
  padding: 0 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}
.contact-information-box {
  background-image: linear-gradient(to right bottom, #e8eeef, #d1dede);
  padding: 3rem 4rem;
  border-radius: 13px;
  background-color: #497a7b;
  height: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 77em) {
  .contact-information {
    padding: 0 12rem;
  }
}
@media (max-width: 64em) {
  .contact-information {
    padding: 0 8rem;
  }
}
@media (max-width: 59em) {
  .contact-information {
    padding: 0 4rem;
  }
}
@media (max-width: 48em) {
  .contact-information {
    padding: 0rem 2rem;
    gap: 2.8rem;
  }
}
@media (max-width: 42em) {
  .contact-information {
    padding: 0 12rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 29em) {
  .contact-information {
    padding: 0 2rem;
  }
}

.communication {
  align-items: center;
}
.communication__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.communication__list-item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  align-items: center;
}
.communication__list-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #1b595a;
}
.communication__list-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.communication__link {
  text-decoration: none;
  color: #164748;
  transition: all 0.3s;
}
.communication__link:hover {
  color: #000;
  text-decoration: underline;
}

.open-hours__list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: solid 2px #1b595a;
}
.open-hours__list-item:first-child {
  border-bottom: none;
}
.open-hours__list-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.open-hours__list-item span {
  font-size: 2rem;
  font-weight: 500;
  color: #164748;
}

.map {
  text-align: center;
  width: 100%;
  height: 100%;
}
.map__iframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__main {
  border-radius: 13px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  border: none;
}

.example {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  --position: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 42em) {
  .example:last-child {
    display: none;
  }
}
.example__image-container {
  max-width: 800px;
  max-height: 90vh;
  aspect-ratio: 4/3;
}
.example__image-container img {
  display: block;
  max-width: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.image-after {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.slider:focus-visible ~ .slider-button {
  outline: 5px solid #000;
  outline-offset: 3px;
}
.slider-line {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #fbfcf8;
  z-index: 4;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}
.slider-button {
  position: absolute;
  background-color: #fbfcf8;
  color: #000;
  padding: 0.5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5;
  box-shadow: o 1rem 3rem rgba(0, 0, 0, 0.3);
}

.footer-col:first-child {
  text-align: center;
}
@media (max-width: 38em) {
  .footer-col:first-child {
    padding: 0 4rem;
    grid-row: 2;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 32em) {
  .footer-col:first-child {
    padding: 0;
  }
}
.footer-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-logo-box {
  overflow: hidden;
}
.footer-logo-box__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.footer-logo-box__logo-img {
  display: block;
  height: 90%;
  width: 100%;
}

.footer-link {
  transition: all 0.3s;
  text-transform: uppercase;
}
.footer-link:link, .footer-link:visited {
  color: #fbfcf8;
  text-decoration: none;
}
.footer-link:hover, .footer-link:active {
  color: #b8e7e1;
  text-decoration: underline;
}

.footer__contact-list {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.footer__contact-list__icon {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  color: #b8e7e1;
}
.footer__contact-list__item:link, .footer__contact-list__item:visited {
  text-decoration: none;
  color: inherit;
}
.footer__contact-list__item:hover, .footer__contact-list__item:active {
  color: #b8e7e1;
}

.copyright-box {
  text-align: center;
  font-size: 1.4rem;
  border-top: solid 1px #497a7b;
}

.header {
  height: 10vh;
  background-color: #1b595a;
  display: flex;
  justify-content: space-between;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 100;
}
@media (max-width: 42em) {
  .header {
    height: 6rem;
  }
}
.header__logo-box {
  overflow: hidden;
}
@media (max-width: 32em) {
  .header__logo-box {
    flex-grow: 2;
    flex-shrink: 0;
  }
}
.header__logo-box__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.header__logo-box__logo-img {
  display: block;
  height: 90%;
}
.header__main-nav {
  align-self: center;
}
.header__main-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  margin: 0 6rem 0 0;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.header__main-nav-link:link, .header__main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fbfcf8;
  transition: all 0.3s;
}
@media (max-width: 52em) {
  .header__main-nav-link:link, .header__main-nav-link:visited {
    display: none;
  }
}
.header__main-nav-link:hover, .header__main-nav-link:active {
  color: #b8e7e1;
  transform: scale(1.1);
}

.mobile-nav {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 111;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(27, 89, 90, 0.9);
  color: #fbfcf8;
  font-size: 3rem;
  font-weight: 500;
  padding: 5rem;
  display: none;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
}
.mobile-nav__link:link, .mobile-nav__link:visited {
  display: inline-block;
  color: #fbfcf8;
  text-decoration: none;
}
.mobile-nav__btn:link, .mobile-nav__btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: #fbfcf8;
  color: #1b595a;
  border-radius: 11px;
}

.mobile-nav-icon__menu {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  display: none;
}
@media (max-width: 52em) {
  .mobile-nav-icon__menu {
    display: block;
    width: 4rem;
    height: 4rem;
    color: #fbfcf8;
  }
}
.mobile-nav-icon__close {
  display: none;
}
@media (max-width: 52em) {
  .mobile-nav-icon__close {
    display: block;
    width: 4rem;
    height: 4rem;
    color: #fbfcf8;
  }
}

.hero__text-box {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 4rem;
  border-radius: 11px;
  background-color: rgba(73, 122, 123, 0.55);
}
@media (max-width: 42em) {
  .hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
  }
}
.hero__text-box__text {
  margin: 1.6rem 0;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
}

.treatment__img-box {
  position: relative;
  width: 100%;
  aspect-ratio: 8/5;
  transition: all 0.3;
}
.treatment__img-box img {
  display: block;
  width: 100%;
  aspect-ratio: 8/5;
  border-radius: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 38em) {
  .treatment__img-box img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 32em) {
  .treatment__img-box {
    width: 75%;
  }
}
.treatment__text-box {
  padding: 1.2rem 2rem;
  background-color: #b8e7e1;
  border-radius: 11px;
  width: 75%;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  bottom: -5%;
  transform: translate(-50%, -5%) scale(1);
}
.treatment__text-box:hover {
  transform: translate(-50%, -5%) scale(1.05);
  cursor: pointer;
}

.section-hero {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(110deg, rgba(232, 238, 239, 0.8) 0%, rgba(232, 238, 239, 0.7) 50%, rgba(209, 222, 222, 0.4) 100%), url(../img/hero.webp);
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
@media (max-width: 42em) {
  .section-hero {
    background-image: radial-gradient(rgba(209, 222, 222, 0.9) 0%, rgba(209, 222, 222, 0.9) 30%, rgba(232, 238, 239, 0.6) 100%), url(../img/mobilehero.webp);
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
}

.section-about {
  padding: 6rem;
  background-image: linear-gradient(to bottom, #fbfcf8, rgba(251, 252, 248, 0.8)), url(../img/bg.webp);
  background-size: cover;
  background-position: center;
}
.section-about__main {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 2rem;
}
@media (max-width: 48em) {
  .section-about__main {
    grid-template-columns: 1fr;
  }
}

.section-treatments {
  padding: 6rem;
  background-color: rgba(73, 122, 123, 0.3);
}
.section-treatments__main {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 48em) {
  .section-treatments__main {
    padding: 0rem 3rem;
  }
}
@media (max-width: 42em) {
  .section-treatments__main {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 6rem;
  }
}
@media (max-width: 38em) {
  .section-treatments__main {
    padding: 0 2rem;
  }
}
@media (max-width: 32em) {
  .section-treatments__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 69em) {
  .section-treatments h2 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (max-width: 48em) {
  .section-treatments h2 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (max-width: 69em) {
  .section-treatments {
    padding: 6rem 3rem;
  }
}
@media (max-width: 48em) {
  .section-treatments {
    padding: 4rem 1rem;
  }
}

.section-examples {
  padding: 6rem;
  background-color: #fbfcf8;
}
.section-examples__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
@media (max-width: 42em) {
  .section-examples__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 32em) {
  .section-examples__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section-testimonials {
  padding: 0 6rem 2rem 6rem;
  height: 50rem;
  background-color: #fbfcf8;
  position: relative;
}

.section-cta {
  height: 70vh;
  background-image: linear-gradient(110deg, rgba(232, 238, 239, 0.8), rgba(232, 238, 239, 0.7)), url(../img/cta.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}

.section-contact {
  padding: 6rem;
}
.section-contact__main {
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 4rem;
  align-items: center;
}
@media (max-width: 42em) {
  .section-contact__main {
    grid-template-rows: 3fr 1fr;
  }
}
@media (max-width: 38em) {
  .section-contact h2 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (max-width: 38em) {
  .section-contact {
    padding: 4rem 0;
  }
}

.footer {
  padding: 4rem 8rem 2rem 8rem;
  background-color: #164748;
  color: #fbfcf8;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer__main {
  padding: 2rem 6rem 6rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  align-items: self-start;
}
@media (max-width: 59em) {
  .footer__main {
    padding: 2rem 4rem 4rem 4rem;
  }
}
@media (max-width: 38em) {
  .footer__main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
}
@media (max-width: 32em) {
  .footer__main {
    padding: 2rem 0;
  }
}
@media (max-width: 64em) {
  .footer {
    padding: 3rem 6rem 1rem 6rem;
  }
}
@media (max-width: 59em) {
  .footer {
    padding: 2rem 4rem 1rem 4rem;
  }
}/*# sourceMappingURL=main.css.map */