.contact-information {
  padding: 0 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  &-box {
    background-image: linear-gradient(
      to right bottom,
      $color-primary-gradient-light,
      $color-primary-gradient-dark
    );
    padding: 3rem 4rem;
    border-radius: 13px;
    background-color: $color-primary-light;
    height: 100%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
  }

  @include respond(77em) {
    padding: 0 12rem;
  }
  @include respond(64em) {
    padding: 0 8rem;
  }
  @include respond(59em) {
    padding: 0 4rem;
  }
  @include respond(48em) {
    padding: 0rem 2rem;
    gap: 2.8rem;
  }
  @include respond(42em) {
    padding: 0 12rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include respond(29em) {
    padding: 0 2rem;
  }
}

.communication {
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-item {
      display: grid;
      grid-template-columns: 1fr 6fr;
      gap: 1rem;
      align-items: center;
    }

    &-icon {
      width: 2.8rem;
      height: 2.8rem;
      color: $color-primary;
    }

    &-text {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-primary-dark;
    transition: all 0.3s;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.open-hours {
  &__list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;

    text-align: center;
    border-bottom: solid 2px $color-primary;
    &:first-child {
      border-bottom: none;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & span {
      font-size: 2rem;
      font-weight: 500;
      color: $color-primary-dark;
    }
  }
}

.map {
  text-align: center;
  width: 100%;
  height: 100%;

  &__iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main {
    border-radius: 13px;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);

    @include centerContent;

    width: 90%;
    height: 100%;
    border: none;
  }
}
