.footer-col {
  &:first-child {
    text-align: center;
    @include respond(38em) {
      grid-row: 2;
      grid-column: 1 / -1;
      padding: 0 6rem;
    }
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

// .footer-logo-box {
//   height: 10vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;

//   &__logo {
//     width: 100%;
//     @include respond(38em) {
//       height: 100%;
//     }
//   }
// }

.footer-logo-box {
  overflow: hidden;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    &-img {
      display: block;
      height: 90%;
      width: 100%;
    }
  }
}

.footer-link {
  transition: all 0.3s;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $color-secondary;
  }
}

.footer__contact-list {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  &__icon {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    color: $color-primary-light;
  }

  &__item {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover,
    &:active {
      color: $color-secondary;
    }
  }
}

.copyright-box {
  text-align: center;
  font-size: 1.4rem;
  border-top: solid 1px $color-primary-light;
}
