.header {
  height: 10vh;
  background-color: $color-primary;
  display: grid;
  grid-template-columns: 1fr 2fr;

  &__logo-box {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__logo {
      width: 75%;
    }
  }

  &__main-nav {
    align-self: center;
    &-list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      gap: 5rem;
      margin: 0 6rem 0 0;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
    }
    &-link:link,
    &-link:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
    }
  }
}
