.hero {
  transition: all 0.3s;
  &__text-box {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    width: 40%;
    padding: 4rem;
    border-radius: 11px;
    background-color: rgba($color-primary-light, 0.8);

    &__text {
      margin: 1.6rem 0;
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-black;
    }
  }
}
