// STICKY NAV

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

.sticky .section-hero {
  margin-top: 70px;
}
