.treatment {
  &__img-box {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 5;
    transition: all 0.3;

    & img {
      display: block;
      width: 100%;
      aspect-ratio: 8 / 5;
      border-radius: 13px;
      object-fit: cover;
      overflow: hidden;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
      @include respond(38em) {
        width: 90%;
        @include centerContent;
      }
    }
    @include respond(32em) {
      width: 75%;
    }
  }

  &__text-box {
    padding: 1.2rem 2rem;
    background-color: $color-secondary;
    border-radius: 11px;
    width: 75%;
    text-align: center;
    transition: all 0.3s;

    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, -5%) scale(1);

    &:hover {
      transform: translate(-50%, -5%) scale(1.05);
      cursor: pointer;
    }
  }
}
