.wrapper {
  background-image: linear-gradient(
    to bottom,
    rgba($color-primary-gradient-light, 0.4),
    rgba($color-primary-gradient-dark, 0.4)
  );
  display: flex;

  width: 80rem;
  height: 35rem;
  border-radius: 11px;

  @include centerContent;

  box-shadow: 0 1rem 3rem rgba($color-black, 0.15);

  & button {
    font-size: 3rem;
    height: 4.4rem;
    width: 4.4rem;
    background-color: $color-white;
    color: $color-primary-dark;
    border: none;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;

    box-shadow: 0 0 1rem rgba($color-black, 0.25);
    cursor: pointer;
    border-radius: 50%;

    &#next {
      right: -2.2rem;
    }

    &#prev {
      left: -2.2rem;
    }
  }
}
.testimonial-container {
  position: relative;

  width: 85%;
  height: 100%;
  margin: auto;
  padding: 1rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    color: $color-grey-dark;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;

    @include respond(64em) {
      font-size: 1.6rem;
    }
  }

  & img {
    display: block;
    margin: 1rem auto 1rem auto;
    border-radius: 50%;
    width: 5rem;
  }

  & h3 {
    color: $color-primary-dark;
    font-size: 1.4rem;
    text-align: center;
  }
}
