*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(69em) {
    font-size: 56.25%;
  }

  @include respond(64em) {
    font-size: 55%;
  }
  @include respond(52em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  color: $color-grey-dark;
  position: relative;
}
