.section-hero {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
      110deg,
      rgba($color-primary-gradient-light, 0.8) 0%,
      rgba($color-primary-gradient-light, 0.7) 50%,
      rgba($color-primary-gradient-dark, 0.4) 100%
    ),
    url(../img/hero.webp);
  background-size: cover;
  background-position: center;

  transition: all 0.3s;
  @include respond(42em) {
    background-image: radial-gradient(
        rgba($color-primary-gradient-dark, 0.8) 0%,
        rgba($color-primary-gradient-dark, 0.8) 30%,
        rgba($color-primary-gradient-light, 0.6) 100%
      ),
      url(../img/mobilehero.png);
  }
  background-size: cover;
  background-position: center;
}

.section-about {
  padding: 6rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-white, 1),
      rgba($color-white, 0.8)
    ),
    url(../img/bg.webp);
  background-size: cover;
  background-position: center;

  &__main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
    @include respond(48em) {
      grid-template-columns: 1fr;
    }
  }
}

.section-treatments {
  padding: 6rem;
  background-color: rgba($color-primary-light, 0.3);

  &__main {
    padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include respond(48em) {
      padding: 0rem 3rem;
    }
    @include respond(42em) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 6rem;
    }
  }

  @include respond(69em) {
    padding: 6rem 3rem;
  }
  @include respond(48em) {
    padding: 4rem 1rem;
  }
}

.section-examples {
  padding: 6rem;
  background-color: $color-white;

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @include respond(42em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.section-testimonials {
  padding: 0 6rem 2rem 6rem;
  height: 50rem;
  background-color: $color-white;
  position: relative;
}

.section-cta {
  height: 70vh;
  background-image: linear-gradient(
      110deg,
      rgba($color-primary-gradient-light, 0.8),
      rgba($color-primary-gradient-light, 0.7)
    ),
    url(../img/cta.webp);
  background-size: cover;
  background-position: center;

  position: relative;
}

.section-contact {
  padding: 6rem;

  &__main {
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 4rem;
    align-items: center;
    @include respond(42em) {
      grid-template-rows: 3fr 1fr;
    }
  }
}

.footer {
  padding: 4rem 8rem 2rem 8rem;
  background-color: $color-primary-dark;
  color: $color-white;
  font-size: 1.6rem;

  &__main {
    padding: 2rem 6rem 6rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    align-items: self-start;

    @include respond(59em) {
      padding: 2rem 4rem 4rem 4rem;
    }
    @include respond(38em) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 3fr;
    }
  }

  @include respond(64em) {
    padding: 3rem 6rem 1rem 6rem;
  }
  @include respond(59em) {
    padding: 2rem 4rem 1rem 4rem;
  }
}
