.section-hero {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
      110deg,
      rgba($color-primary-gradient-light, 0.8) 0%,
      rgba($color-primary-gradient-light, 0.7) 50%,
      rgba($color-primary-gradient-dark, 0.4) 100%
    ),
    url(../img/hero.webp);
  background-size: cover;
  background-position: center;
}

.section-about {
  padding: 6rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-white, 1),
      rgba($color-white, 0.8)
    ),
    url(../img/bg.webp);
  background-size: cover;
  background-position: center;

  &__main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
  }
}

.section-treatments {
  padding: 6rem;
  background-color: rgba($color-primary-light, 0.3);

  &__main {
    padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

.section-examples {
  padding: 6rem;
  background-color: $color-white;

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

.section-testimonials {
  padding: 0 6rem 2rem 6rem;
  height: 50rem;
  background-color: $color-white;
  position: relative;
}

.section-cta {
  height: 70vh;
  background-image: linear-gradient(
      110deg,
      rgba($color-primary-gradient-light, 0.8),
      rgba($color-primary-gradient-light, 0.7)
    ),
    url(../img/cta.webp);
  background-size: cover;
  background-position: center;

  position: relative;
}

.section-contact {
  padding: 6rem;

  &__main {
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 4rem;
    align-items: center;
  }
}

.footer {
  padding: 4rem 8rem 2rem 8rem;
  background-color: $color-primary-dark;
  color: $color-white;
  font-size: 1.6rem;

  &__main {
    padding: 2rem 6rem 6rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    align-items: self-start;
  }
}
